scripts/admin-LTE
scripts/bootstrap
scripts/bootstrap-slider
scripts/bootstrap-wysihtml5
scripts/hartjs
scripts/ckeditor
scripts/colorpicker
scripts/datatables
scripts/datepicker
scripts/daterangepicker
scripts/editablegrid-master
scripts/Editor-1.6.5
scripts/fastclick
scripts/flot
scripts/fullcalendar
scripts/iCheck
scripts/input-mask
scripts/ionslider
scripts/jQuery
scripts/jQuery.dotdotdot-master
scripts/jQueryUI
scripts/jvectormap
scripts/knob
scripts/loopj-jquery-tokeninput
scripts/morris
scripts/pace
scripts/select2
scripts/slimScroll
scripts/sparkline
scripts/timepicker
scripts/upclick2
styles/font-awesome-4.7.0
styles/icomoon
